body {
    display: flexbox;
    font-family: 'Figtree', sans-serif;
    font-weight: 300;
    line-height: 1cm;
    text-transform: none;
    background: whitesmoke;
 
}

#main {
    display: flexbox;
    flex-direction: row;
    border-radius: 0 0 50px 50px ;
}



#content {
    background: image 50px;
    border-radius: 0 0 50px 50px ;

}


nav a img {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    background: #E3E4FF;
}

#salesforcelogo {
    margin-left: 30px;
    margin-top: 50px;
    background-color: rgb(75, 70, 70);
    border-radius: 30px 30px 30px 30px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-items:center;
    padding-bottom: 12px;
    background: #E3E4FF;
    margin-left: auto ;
    margin-right: auto;
    font-size-adjust: inherit;
    max-width: 600px ;
  


}

#navwrapper {
    background: #E3E4FF; 
    border-radius: 30px 30px 30px 30px; 
    text-decoration: none;
    border: 5px solid rgb(75, 70, 70);


}



.navbar a {
    margin-right: 40px;
    font-kerning: inherit;
    font-size: 19px;
    color: rgb(75, 70, 70);
    font-weight:500;
    text-decoration: none;

    

}

.salesforcetechmoms {
    margin-right: 60px;
   
  
}

h2 {
    text-transform: uppercase;
    font-size: 15px;
    font-kerning: inherit;
    font-weight: 300;
    color: #627FFF;s

}

#content {
    display: flexbox;
    margin: auto;
    max-width: 600px;
    text-decoration: none;

}



#mail {
    background-color: #627FFF;
    padding: 15px;
    font-size:16px;
    font-weight:300;
    color: whitesmoke;
    border-radius: 30px 30px 30px 30px;
    
}

img {
    border-radius:0;
    padding: 9px;

}




footer {
    padding: 20px;
}
